/* ------------------------------------------------------------------------------------- */
/* Resume Form */
/* ------------------------------------------------------------------------------------- */

#resumeForm {
  background-color: var(--bg-color);
}

#resumeForm > * {
  background-color: var(--input-field-card-bg-color);
  color: var(--input-field-fg-color);
}

/* ------------------------------------------------------------------------------------- */
/* Resume Preview */
/* ------------------------------------------------------------------------------------- */

#resumePreviewContainer {
  background-color: var(--bg-color);
}

#resumePreview {
  background-color: white
}

/* ------------------------------------------------------------------------------------- */
/* Reset Inputs */
/* ------------------------------------------------------------------------------------- */

#resetInputs {
  background-color: var(--bg-color);
}

.clearResume {
  color: var(--clear-resume-fg-color);
}

/* ------------------------------------------------------------------------------------- */
/* Inputs */
/* ------------------------------------------------------------------------------------- */

input {
  all: unset;
  border-radius: 5px;
  background-color: var(--bg-color);
}

/* ------------------------------------------------------------------------------------- */
/* Buttons */
/* ------------------------------------------------------------------------------------- */

button {
  background-color: #f8fafc;
  border: 0px solid #ccc;
  border-radius: 6px;
}

button.cancelSubmission {
  color: var(--clear-resume-fg-color);
}

/* ------------------------------------------------------------------------------------- */
/* Icons */
/* ------------------------------------------------------------------------------------- */

.icon {
  background-color: var(--input-field-card-bg-color);
}
