/* ------------------------------------------------------------------------------------- */
/* Education */
/* ------------------------------------------------------------------------------------- */

.educationItem {
  font-weight: 600;
}

/* ------------------------------------------------------------------------------------- */
/* Forms */
/* ------------------------------------------------------------------------------------- */

.formLabel {
  font: 4rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ------------------------------------------------------------------------------------- */
/* Inputs */
/* ------------------------------------------------------------------------------------- */

.inputContainer > label {
  font-weight: 600
}

/* ------------------------------------------------------------------------------------- */
/* Buttons */
/* ------------------------------------------------------------------------------------- */

button {
  font-size: 1rem;
}