/* ------------------------------------------------------------------------------------- */
/* Education */
/* ------------------------------------------------------------------------------------- */

.credentialSlice {
  font-weight: 600;
}

/* ------------------------------------------------------------------------------------- */
/* Experience */
/* ------------------------------------------------------------------------------------- */

.description {
  font-weight: 300;
}

/* ------------------------------------------------------------------------------------- */
/* Forms */
/* ------------------------------------------------------------------------------------- */

.formLabel {
  font: 4rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ------------------------------------------------------------------------------------- */
/* Inputs */
/* ------------------------------------------------------------------------------------- */

.inputContainer > label {
  font-weight: 600
}

/* ------------------------------------------------------------------------------------- */
/* Buttons */
/* ------------------------------------------------------------------------------------- */

button {
  font-size: 1rem;
}

h1 {
  background-color: var(--header-bg-color);
  color: var(--header-fg-color);
  margin-bottom: 2rem;
  font-size: 4rem;
  padding: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}