/* ------------------------------------------------------------------------------------- */
/* Root */
/* ------------------------------------------------------------------------------------- */

#root {
  height: auto;
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(min-content, 3fr) minmax(min-content, 7fr);
  grid-template-rows: auto 1fr;
  grid-template-areas:
  "header header"
  "resumeForm resume";
}

h1 {
  grid-area: header;
}
#resumeFormContainer {
  grid-area: resumeForm;
}
#resumePreviewContainer {
  grid-area: resume
}

/* ------------------------------------------------------------------------------------- */
/* Header */
/* ------------------------------------------------------------------------------------- */

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------------------------------------------------------------------- */
/* Resume Form */
/* ------------------------------------------------------------------------------------- */

#resumeForm {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}

#resumeForm > * {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: var(--input-field-card-bg-color);
  color: var(--input-field-fg-color);
  border-radius: 10px;
}


/* ------------------------------------------------------------------------------------- */
/* Resume Preview */
/* ------------------------------------------------------------------------------------- */

#resumePreviewContainer {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

#resumePreview {
  width: 50rem;
  height: 65rem;
  display: flex;
  flex-direction: column;
}

#resumePreview > * {
  padding: 1rem;
}

.top, .bottom {
  display: flex;
  justify-content: space-between;
}

.educationItem, .experienceItem {
  margin-top: 0.75rem;
}

/* ------------------------------------------------------------------------------------- */
/* Reset Inputs */
/* ------------------------------------------------------------------------------------- */

.buttonPair {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.clearResume {
  margin-right: 0.2rem;
}

.loadExample {
  margin-left: 0.2rem;
}

/* ------------------------------------------------------------------------------------- */
/* Experience Preview */
/* ------------------------------------------------------------------------------------- */

.description {
  width: 50%;
  margin-top: 0.25rem;
}

/* ------------------------------------------------------------------------------------- */
/* Personal Details Preview */
/* ------------------------------------------------------------------------------------- */

#personalDetailsPreview {
  display: flex;
  flex-direction: column;
}

h2.personalDetails {
  text-align: center;
}

.personalDetails.details.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.personalDetails.details.container > * {
  padding: 0.3rem;
  display: flex;
}

.personalDetails.details.container .icon {
  margin-right: 0.3rem;
}

/* ------------------------------------------------------------------------------------- */
/* Forms */
/* ------------------------------------------------------------------------------------- */

form {
  padding: 1rem;
}

form > * {
  margin-bottom: 0.5rem;
}

.formLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formLabel > * {
  margin-right: 0.2rem
}

/* ------------------------------------------------------------------------------------- */
/* Inputs */
/* ------------------------------------------------------------------------------------- */

.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputContainer > label {
  margin-bottom: 0.3rem;
}

.inputContainer > input {
  padding: 0.5rem;
}

.credentialSlice {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-top: 0.6rem;
}

/* ------------------------------------------------------------------------------------- */
/* Buttons */
/* ------------------------------------------------------------------------------------- */
.buttonsContainer {
  display: flex;
}

.buttonPair {
  margin-top: 0.5rem;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
}

/* ------------------------------------------------------------------------------------- */
/* Icons */
/* ------------------------------------------------------------------------------------- */

.icon {
  border-radius: 20px;
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon.email, .icon.phone, .icon.address {
  width: 1.3rem;
  height: 1.3rem;
}