:root {
  --bg-color: oklch(96.8% 0.007 247.896);
  --fg-color: #040409;

  --input-field-card-bg-color: #ffffff;

  --input-field-bg-color: oklch(96.8% 0.007 247.896);
  --input-field-fg-color: #040409;
  --input-field-default-color: #404040;



  --header-bg-color: #ef4444;
  --header-fg-color: #f1f5f9;
}