:root {
  --bg-color: #f1f5f9
  --fg-color: #040409;

  --input-field-card-bg-color: #ffffff;

  --input-field-bg-color: #f1f5f9;
  --input-field-bg-hover-color: #f1f5f9d4;
  --input-field-fg-color: #040409;
  --input-field-default-color: #404040;

  --clear-resume-fg-color: rgb(240, 18, 18);

  --header-bg-color: #ef4444;
  --header-fg-color: #f1f5f9;
}